.title {
  font-family: "Abril Fatface", cursive;
  font-size: 1.3rem;
}
.btn1 {
  background: transparent;
  color: white;
  font-family: "Abril Fatface", cursive;
  border: none;
  font-size: 1.7rem;
  transition: 300ms;
}
.btn1:hover {
  color: lightblue;
  cursor: pointer;
  transition: 300ms;
  transform: scale(1.03);
}
.btna {
  color: white;
  text-decoration: none;
  font-family: "Abril Fatface", cursive;
  font-size: 1.7rem;
  transition: 300ms;
}
.btna:hover {
  color: lightblue;
  cursor: pointer;
  transition: 300ms;
  transform: scale(1.03);
}
