@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@200&display=swap");
.title {
  font-family: "Hepta Slab", serif;

  font-size: 1.4rem;
}
.btn1 {
  background: transparent;
  color: white;
  font-family: "Hepta Slab", serif;
  border: none;
  font-size: 2rem;
  transition: 300ms;
}
.btn1:hover {
  color: lightblue;
  cursor: pointer;
  transition: 300ms;
  transform: scale(1.03);
}
.btna {
  color: white;
  text-decoration: none;
  font-family: "Hepta Slab", serif;
  font-size: 2rem;
  transition: 300ms;
}
.btna:hover {
  color: lightblue;
  cursor: pointer;
  transition: 300ms;
  transform: scale(1.03);
}
.slika1 {
  position: relative;
  right: 0;
  transition: 1800ms;
}
.slika1:hover {
  right: 50%;
}
